<section class="hero">
  <h1>Track and manage all your subscriptions in one place</h1>
  <p>Get insights, reminders, and savings.</p>
  <a href="https://apps.apple.com/bh/app/subsense/id6741325579" class="app-store-btn" target="_blank" rel="noopener">
    <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="Download on the App Store">
  </a>
</section>
